body, html {
  background: #20262E;
  height: 100vh;
}
#app{
  margin: 20px;
}
.container {
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  transition: all 0.2s;
}
h1 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 800;
}
h1 a {
  margin: 0 10px;
  border: 1px solid #00bfff;
  padding: 0 5px;
  border-radius: 4px;
  color: #00bfff;
}
h1 a.active, h1 a:hover {
  color: #000; 
}
.result-data{
  text-align: center;
  font-size: 26px;
  font-weight: 800;
}
